<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>547957252088-aqjt5pe6a0ho59j7t43ijgus3ap4o7nv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547957252088-aqjt5pe6a0ho59j7t43ijgus3ap4o7nv</string>
	<key>API_KEY</key>
	<string>AIzaSyDfiXlUjYmQ1_weJSvOGjAoUKIbBI0J2lo</string>
	<key>GCM_SENDER_ID</key>
	<string>547957252088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Prashant.Krishi-App.Krishi</string>
	<key>PROJECT_ID</key>
	<string>krishi-69d89</string>
	<key>STORAGE_BUCKET</key>
	<string>krishi-69d89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547957252088:ios:2bd5cc725079f97ca5800d</string>
</dict>
</plist>